<template>
  <div>
    <TodoForm :todo="todo"></TodoForm>
  </div>
</template>

<script>
import TodoForm from "@/components/TodoForm.vue";

export default {
  name: "EditTodoPage",

  data() {
    return {
      todo: { ...this.$store.getters.getTodoById(this.$route.params.id) } ?? {},
    };
  },

  async asyncData({ store, route }) {
    const { id } = route.params;
    await store.dispatch("fetchSingleTodo", id);
  },

  components: {
    TodoForm,
  },
};
</script>

<style>
</style>