<template>
  <nav
    class="
      flex
      justify-between
      items-center
      flex-wrap
      p-6
      bg-indigo-500
      sticky
      top-0
      z-50
      shadow-lg
    "
  >
    <div class="flex flex-row justify-between items-center">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg
          class="fill-current h-8 w-8 mr-2"
          width="54"
          height="54"
          viewBox="0 0 54 54"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"
          />
        </svg>
        <NuxtLink
          to="/"
          class="font-semibold text-xl tracking-tight text-white"
          id="logo"
        >
          Todo App</NuxtLink
        >
      </div>
      <div class="block lg:hidden">
        <button
          class="
            flex
            items-center
            px-3
            py-2
            border
            rounded
            text-white
            border-teal-400
            hover:text-white hover:border-white
          "
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div>
          <button
            id="create-todo"
            class="
              bg-transparent
              hover:bg-indigo-500
              text-white
              font-semibold
              hover:text-white
              py-2
              px-4
              border border-white
              hover:border-transparent
              rounded
            "
            @click="onCreateTodo"
          >
            New Todo
          </button>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
async function onCreateTodo() {
  this.$router.push({
    path: "/todos/create-todo",
  });
}

export default {
  name: "AppHeader",
  methods: {
    onCreateTodo,
  },
};
</script>

<style>
</style>