<template>
  <div>
    <AppHeader />
    <nuxt />
  </div>
</template>

<script>
import AppHeader from "@/components/header/AppHeader.vue";
export default {
  components: {
    AppHeader,
  },
};
</script>

<style>
</style>