<template>
  <ul>
    <TodoCard v-for="(todo, index) in todos" :key="index" :todo="todo" />
  </ul>
</template>

<script>
import TodoCard from "./TodoCard.vue";

export default {
  name: "TodoList",
  components: {
    TodoCard,
  },

  props: {
    todos: {
      type: Array,
      required: false,
    },
  },
};
</script>

<style>
</style>