<template>
  <div class="pt-5">
    <div
      :class="
        completed
          ? 'bg-slate-400 rounded-md max-w-4xl mx-auto p-4 space-y-4 '
          : 'bg-white rounded-md max-w-4xl mx-auto p-4 space-y-4 shadow-lg'
      "
    >
      <div class="flex flex-row justify-between">
        <h3 class="mb-2 font-semibold">
          Title: <span class="font-thin">{{ title }}</span>
        </h3>
        <input
          class="
            form-check-input
            h-4
            w-4
            border border-gray-300
            rounded-sm
            bg-white
            checked:bg-blue-600 checked:border-blue-600
            focus:outline-none
            transition
            duration-200
            mt-1
            align-top
            bg-no-repeat bg-center bg-contain
            float-left
            mr-2
            cursor-pointer
          "
          type="checkbox"
          name="completed"
          id="completed"
          v-model="completed"
          @click="onChangeCompleted"
        />
      </div>
      <div class="pt-2">
        <h3 class="font-semibold">Description:</h3>
        <p class="font-thin mt-2">
          {{ description }}
        </p>
      </div>

      <h3 class="border-t mb-2 pt-3 font-semibold">Create Date:</h3>
      <span class="font-thin">{{ created_at }}</span>
      <div class="flex justify-end space-x-2">
        <svg
          id="edit"
          xmlns="http://www.w3.org/2000/svg"
          @click="onEditTodo"
          class="h-6 w-6 text-indigo-600 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
          />
        </svg>
        <svg
          id="delete"
          @click="onDeleteTodo"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 text-red-500 cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
function onDeleteTodo() {
  this.$store.dispatch("deleteTodo", this.id);
}

function onEditTodo() {
  this.$router.push({
    path: `/todos/${this.id}`,
  });
}

function onChangeCompleted() {
  this.$store.dispatch("updateCompleted", this.id);
}

export default {
  name: "TodoCard",

  data() {
    return {
      completed: this.todo.completed,
    };
  },

  props: {
    todo: {
      type: Object,
      required: true,
    },
  },

  methods: {
    onDeleteTodo,
    onEditTodo,
    onChangeCompleted,
  },

  computed: {
    id() {
      return this.todo._id;
    },
    title() {
      return this.todo.title;
    },
    description() {
      return this.todo.description;
    },
    created_at() {
      return this.todo.created_at;
    },
  },
};
</script>

<style>
</style>